.modal-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    margin-bottom: 12px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  